{% extends 'core/base.html' %}
{% block content %}

<h1 class="mb-6 text-3xl">Projects</h1>
<a href="{% url 'project:add' %}" class="rounded-md py-4 px-8 bg-sky-600 text-sm font-medium hover:bg-gray-700 hover:text-white inline-block">Add Projects</a>
    {% for project in projects %}
        <div class="mb-4 mr-80 ml-80 mt-6 py-8 px-8 bg-slate-200 grid-cols-4 gap-4">
            <a href="{% url 'project:project' project.id %}">
                <h2 class="mb-4 ext-xl">{{ project.name }}</h2>
                <p class="text-sm text-slate-600">{{ project.description }}</p>
            </a>
        </div>
    {% endfor %}

{% endblock %}