{% extends 'core/base.html' %}
{% block content %}

<div class="max-w-xl mx-auto bg-slate-800 text-center py-20">
    <h1 class="text-3xl">Feedback</h1>
    
    <form class="mt-4 px-6 space-y-6" method="post" action=".">
        {% csrf_token %}
        <div>
            <label class="text-white">Name</label>
            <input name ="name" type="text" class="w-full py-4 px-6 bg-slate-500 text-white">
        </div>
        <div>
            <label class="text-white">email</label>
            <input name ="email" type="email" class="w-full py-4 px-6 bg-slate-500 text-white">
        </div>
        <div>
            <label class="text-blue">description</label>
            <textarea name = "desc" class="w-full py-4 px-6 bg-slate-500 text-white"></textarea>
        </div>
        
            <button class="rounded-md bg-gray-900 py-4 px-8 text-white">Add feedback</button>
        </div>
    </form>
</div>        
{% endblock %}